<!DOCTYPE html>
<html>
  <head>
    <title>CyberMarket</title>
    <link rel="stylesheet" href="C:\Users\harik\Downloads\ShoppingWebsite-Easy-main (1)\ShoppingWebsite-Easy-main\p9.css">
  </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <body ng-app="">
    <form action="C:\Users\harik\Downloads\Shopping-Website-main\Shopping-Website-main\p9cart.html" method="get">
      <button type="submit" class="scart" name="cart" >Cart ({{l1+l2+l3+l4+l5+l6+p1+p2+p3+p4+p5+p6}})</button>
    </div>

        </div>
    <div  style="align-items:center" class="body">
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p >Black Bag Price: 10,000 </p>
        <button type="button" class="A2C" name="a1" ng-click="l1=l1+1" value = "{{l1}}"ng-init="l1=0">Add To Cart </button>
        <input type="number" name="a1" value="{{l1}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Brown bag  Price: 20,000</p>
        <button type="button" class="A2C" ng-click="l2=l2+1" ng-init="l2=0">Add To Cart</button>
        <input type="number" name="a2" value="{{l2}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>High Open   Price: 30,000</p>
        <button type="button"  class="A2C" ng-click="l3=l3+1" ng-init="l3=0">Add To Cart</button>
        <input type="number" name="a3" value="{{l3}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Funky  Price: 40,000</p>
        <button  type="button" class="A2C" ng-click="l4=l4+1" ng-init="l4=0">Add To Cart</button>
        <input type="number" name="a4" value="{{l4}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Jame  Price: 50,000</p>
        <button type="button"  class="A2C" ng-click="l5=l5+1" ng-init="l5=0">Add To Cart</button>
        <input type="number" name="a5" value="{{l5}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Junkook Price: 60,000</p>
        <button  type="button" class="A2C" ng-click="l6=l6+1" ng-init="l6=0">Add To Cart</button>
        <input type="number" name="a6" value="{{l6}}" style="height:20px;width:25px" readonly=true> items
      </div>

      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Uyster Price: 10,000</p>
        <button  type="button" class="A2C" ng-click="p1=p1+1" ng-init="p1=0">Add To Cart</button>
        <input type="number" name="b1" value="{{p1}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Lion Price:20,000</p>
        <button  type="button" class="A2C" ng-click="p2=p2+1" ng-init="p2=0">Add To Cart</button>
        <input type="number" name="b2" value="{{p2}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Markets Price:30,000</p>
        <button  type="button" class="A2C" ng-click="p3=p3++1" ng-init="p3=0">Add To Cart</button>
        <input type="number" name="b3" value="{{p3}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Sidedraw Price: 40,000</p>
        <button  type="button" class="A2C" ng-click="p4=p4+1" ng-init="p4=0">Add To Cart</button>
        <input type="number" name="b4" value="{{p4}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Pursze Price:50,000</p>
        <button  type="button" class="A2C" ng-click="p5=p5+1" ng-init="p5=0">Add To Cart</button>
        <input type="number" name="b5" value="{{p5}}" style="height:20px;width:25px" readonly=true> items
      </div>
      <div class="products">
        <img src="https://th.bing.com/th/id/OIP.yPUXbMzOhsNQf0WlEr-GXgHaHa?pid=ImgDet&w=800&h=800&rs=1">
        <p>Habbit Price: 60,000</p>
        <button  type="button" class="A2C" ng-click="p6=p6+1" ng-init="p6=0">Add To Cart</button>
        <input type="number" name="b6" value="{{p6}}" style="height:20px;width:25px" readonly=true> items
      </div>

    </div>

</form>
</body>
</html>
