body {
  margin: 0;
  height:180vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image:linear-gradient(rgb(229, 236, 240),rgb(111,222,111)) ; 
}

#but {
  background-color: #000c01;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.inner_area{
  width:50%;
  height:150%;
  float:right;
  display: inline;
  padding:20px 0px;
  margin-top: 50px;
  font-family: 'Valera Round';
}
.inner_area h1{
  padding-left:2px;
  font-family: 'Calisto MT';
}
.cls{
  width:50%;
  height:150%;
  float:right;
  display: inline;
  padding:20px 0px;
  margin-top: 50px;
  font-family: 'Valera Round';
}

.large{
  font-family: 'Allan';font-size: 22px;
}